* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inner {
    width: 15px;
    height: 2px;
    background-color: #000;
}

.menu-inner::after,
.menu-inner::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #000;
}

.menu-inner::before {
    transform: translateY(-5px);
}

.menu-inner::after {
    transform: translateY(5px);
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: right;
  }

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.image-1 {
    

}

.line-1 {
    display: flex;
    justify-content:space-around;
    align-items: center;
}